USE [master]
GO
/****** Object:  Database [CuaHangMayLanh]    Script Date: 8/10/2019 7:34:01 AM ******/
CREATE DATABASE [CuaHangMayLanh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CuaHangMayLanh', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CuaHangMayLanh.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CuaHangMayLanh_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CuaHangMayLanh_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CuaHangMayLanh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CuaHangMayLanh]
GO
/****** Object:  Table [dbo].[BOPHAN]    Script Date: 8/10/2019 7:34:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOPHAN](
	[MABP] [nvarchar](10) NOT NULL,
	[TENBP] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTHDN]    Script Date: 8/10/2019 7:34:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHDN](
	[MAHDN] [nvarchar](10) NOT NULL,
	[MAHH] [nvarchar](10) NOT NULL,
	[MANCC] [nvarchar](10) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [money] NULL,
	[THANHTIEN] [money] NULL,
 CONSTRAINT [PK_CTHDN] PRIMARY KEY CLUSTERED 
(
	[MAHDN] ASC,
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTHDX]    Script Date: 8/10/2019 7:34:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHDX](
	[MAHDX] [nvarchar](10) NOT NULL,
	[MaHangHoa] [nvarchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [money] NULL,
	[THANHTIEN] [money] NULL,
 CONSTRAINT [PK_CTHDX] PRIMARY KEY CLUSTERED 
(
	[MAHDX] ASC,
	[MaHangHoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HANGHOA]    Script Date: 8/10/2019 7:34:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGHOA](
	[MAHANGHOA] [nvarchar](10) NOT NULL,
	[TENHANGHOA] [nvarchar](50) NULL,
	[SOLUONG] [float] NULL,
	[DONGIA] [float] NULL,
	[MANCC] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHANGHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADONNHAP]    Script Date: 8/10/2019 7:34:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONNHAP](
	[MAHDN] [nvarchar](10) NOT NULL,
	[MANCC] [nvarchar](10) NOT NULL,
	[TONGTIEN] [float] NULL,
	[NGAYNHAP] [datetime] NULL,
	[Trangthai] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADONXUAT]    Script Date: 8/10/2019 7:34:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONXUAT](
	[MAHDX] [nvarchar](10) NOT NULL,
	[MAKH] [nvarchar](10) NOT NULL,
	[TONGTIEN] [float] NULL,
	[NGAY] [date] NULL,
	[Trangthai] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 8/10/2019 7:34:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nvarchar](10) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 8/10/2019 7:34:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MAND] [nvarchar](10) NOT NULL,
	[MATKHAU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 8/10/2019 7:34:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [nvarchar](10) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 8/10/2019 7:34:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](10) NOT NULL,
	[MABP] [nvarchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](3) NULL,
	[NGAYVAOLAM] [date] NULL,
	[NGAYSINH] [date] NULL,
	[DIENTHOAI] [nvarchar](20) NULL,
	[DIACHI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THONGKE]    Script Date: 8/10/2019 7:34:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGKE](
	[STT] [int] NOT NULL,
	[MAHANGHOA] [nvarchar](10) NOT NULL,
	[TENHANGHOA] [nvarchar](50) NULL,
	[SOLUONG] [float] NULL,
	[DONGIA] [float] NULL,
	[TONGTIEN] [float] NULL,
	[NGAY] [datetime] NULL,
	[TENNCC] [nvarchar](50) NULL,
	[MAHDX] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[HD]    Script Date: 8/10/2019 7:34:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[HD] AS	SELECT * FROM  HOADONNHAP
GO
/****** Object:  View [dbo].[HD1]    Script Date: 8/10/2019 7:34:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE VIEW [dbo].[HD1] AS	SELECT * FROM  HOADONNHAP WHERE YEAR(NGAYNHAP) = 2019

GO
INSERT [dbo].[BOPHAN] ([MABP], [TENBP]) VALUES (N'BP1', N'Quản lý')
INSERT [dbo].[BOPHAN] ([MABP], [TENBP]) VALUES (N'BP10', N'Kỹ thuật ')
INSERT [dbo].[BOPHAN] ([MABP], [TENBP]) VALUES (N'BP2', N'Nhân Viên')
INSERT [dbo].[CTHDN] ([MAHDN], [MAHH], [MANCC], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (N'HDN01', N'HH3', N'SONY', 150, 1000.0000, 150000.0000)
INSERT [dbo].[CTHDN] ([MAHDN], [MAHH], [MANCC], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (N'HDN02', N'HH6', N'HITACHI', 170, 1000.0000, 170000.0000)
INSERT [dbo].[CTHDN] ([MAHDN], [MAHH], [MANCC], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (N'HDN02', N'HH7', N'HITACHI', 170, 1000.0000, 170000.0000)
INSERT [dbo].[CTHDX] ([MAHDX], [MaHangHoa], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (N'HDBH01', N'HH4', 1000, 1400.0000, 1400000.0000)
INSERT [dbo].[CTHDX] ([MAHDX], [MaHangHoa], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (N'HDBH02', N'HH7', 20, 1000.0000, 20000.0000)
INSERT [dbo].[CTHDX] ([MAHDX], [MaHangHoa], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (N'HDBH03', N'HH6', 10, 1400.0000, 14000.0000)
INSERT [dbo].[HANGHOA] ([MAHANGHOA], [TENHANGHOA], [SOLUONG], [DONGIA], [MANCC]) VALUES (N'HH1', N'Máy lạnh khối', 100, 2500, N'NCC1')
INSERT [dbo].[HANGHOA] ([MAHANGHOA], [TENHANGHOA], [SOLUONG], [DONGIA], [MANCC]) VALUES (N'HH2', N'Máy lạnh đứng', 10, 1000, N'NCC4')
INSERT [dbo].[HANGHOA] ([MAHANGHOA], [TENHANGHOA], [SOLUONG], [DONGIA], [MANCC]) VALUES (N'HH3', N'Máy lạnh làm lạnh bằng nước', 150, 1000, N'NCC5')
INSERT [dbo].[HOADONNHAP] ([MAHDN], [MANCC], [TONGTIEN], [NGAYNHAP], [Trangthai]) VALUES (N'HDN01', N'NCC2', 150000, CAST(0x0000AAC200000000 AS DateTime), N'Hoàn Thành')
INSERT [dbo].[HOADONNHAP] ([MAHDN], [MANCC], [TONGTIEN], [NGAYNHAP], [Trangthai]) VALUES (N'HDN02', N'NCC5', 340000, CAST(0x0000AB1800000000 AS DateTime), N'Hoàn Thành')
INSERT [dbo].[HOADONNHAP] ([MAHDN], [MANCC], [TONGTIEN], [NGAYNHAP], [Trangthai]) VALUES (N'HDN03', N'NCC1', 1000000, CAST(0x0000AA0B00000000 AS DateTime), N'Hoàn Thành')
INSERT [dbo].[HOADONXUAT] ([MAHDX], [MAKH], [TONGTIEN], [NGAY], [Trangthai]) VALUES (N'HDBH01', N'KH001', 1400000, CAST(0x1D400B00 AS Date), N'Hoàn Thành')
INSERT [dbo].[HOADONXUAT] ([MAHDX], [MAKH], [TONGTIEN], [NGAY], [Trangthai]) VALUES (N'HDBH02', N'KH007', 20000, CAST(0x1D400B00 AS Date), N'Hoàn Thành')
INSERT [dbo].[HOADONXUAT] ([MAHDX], [MAKH], [TONGTIEN], [NGAY], [Trangthai]) VALUES (N'HDBH03', N'KH004', 28000, CAST(0x1D400B00 AS Date), N'Hoàn Thành')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI]) VALUES (N'KH001', N'Tô Khiết Thanh', N'TP.HCM')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI]) VALUES (N'KH004', N'Hà Minh Trị', N'Đồng Nai')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI]) VALUES (N'KH005', N'Lâm Á Hân', N'Bình Dương')
INSERT [dbo].[NGUOIDUNG] ([MAND], [MATKHAU]) VALUES (N'admin', N'admin')
INSERT [dbo].[NGUOIDUNG] ([MAND], [MATKHAU]) VALUES (N'nv2', N'admin')
INSERT [dbo].[NGUOIDUNG] ([MAND], [MATKHAU]) VALUES (N'nv5', N'admin')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI]) VALUES (N'NCC1', N'PANASONIC', N'Hà Nội ')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI]) VALUES (N'NCC10', N'GG', N'Quảng Đông')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI]) VALUES (N'NCC11', N'PADONDARATA', N'GIA LAI')
INSERT [dbo].[NHANVIEN] ([MANV], [MABP], [TENNV], [GIOITINH], [NGAYVAOLAM], [NGAYSINH], [DIENTHOAI], [DIACHI]) VALUES (N'ADMIN', N'BP1', N'ADMIN', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [MABP], [TENNV], [GIOITINH], [NGAYVAOLAM], [NGAYSINH], [DIENTHOAI], [DIACHI]) VALUES (N'NV2', N'BP2', N'Trần Thị Tuyết', N'Nữ', CAST(0xD6380B00 AS Date), CAST(0x1E220B00 AS Date), N'0325689712', N'Lâm Đồng')
INSERT [dbo].[NHANVIEN] ([MANV], [MABP], [TENNV], [GIOITINH], [NGAYVAOLAM], [NGAYSINH], [DIENTHOAI], [DIACHI]) VALUES (N'NV3', N'BP5', N'Trần Thanh Tân', N'Nam', CAST(0x1C360B00 AS Date), CAST(0x7E1D0B00 AS Date), N'0923569874', N'Đồng Nai')
ALTER TABLE [dbo].[CTHDN]  WITH CHECK ADD  CONSTRAINT [FK_CTHDN_HANGHOA] FOREIGN KEY([MAHH])
REFERENCES [dbo].[HANGHOA] ([MAHANGHOA])
GO
ALTER TABLE [dbo].[CTHDN] CHECK CONSTRAINT [FK_CTHDN_HANGHOA]
GO
ALTER TABLE [dbo].[CTHDN]  WITH CHECK ADD  CONSTRAINT [FK_CTHDN_HOADONNHAP] FOREIGN KEY([MAHDN])
REFERENCES [dbo].[HOADONNHAP] ([MAHDN])
GO
ALTER TABLE [dbo].[CTHDN] CHECK CONSTRAINT [FK_CTHDN_HOADONNHAP]
GO
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[HOADONXUAT]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD FOREIGN KEY([MAND])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([MABP])
REFERENCES [dbo].[BOPHAN] ([MABP])
GO
ALTER TABLE [dbo].[THONGKE]  WITH CHECK ADD FOREIGN KEY([MAHDX])
REFERENCES [dbo].[HOADONXUAT] ([MAHDX])
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [Soluonghanghoa] CHECK  (([soluong]>=(0)))
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [Soluonghanghoa]
GO
USE [master]
GO
